asset_management_system.json
[
    {
        "id": "10f77cdbbf014e29",
        "type": "tab",
        "label": "Reader Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c000d1bf31301306",
        "type": "tab",
        "label": "Server Stats",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb5d31eec9f0ed10",
        "type": "tab",
        "label": "1357137",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d15a322509163d1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f381c70556b7225",
        "type": "mqtt-broker",
        "name": "Reader Status Signal",
        "broker": "10.0.175.122",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "53ad69db5a4aaca7",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "Local SQL Server",
        "server": "10.0.175.122",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "asset",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true
    },
    {
        "id": "7e421d4ac65fa2d4",
        "type": "ui_tab",
        "name": "Asset Management",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3305dee9ecce6dd1",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7f95e7feb4c8c00b",
        "type": "ui_group",
        "name": "Reader Status",
        "tab": "7e421d4ac65fa2d4",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2988f2f9ce65c7b",
        "type": "MSSQL-UCG-CN",
        "name": "SQL Local",
        "server": "10.0.175.122",
        "port": "1433",
        "encyption": true,
        "database": "asset"
    },
    {
        "id": "a85094f594aef5ee",
        "type": "ui_group",
        "name": "13577137",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ce18ae62d27eeb9",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 2,
        "width": 17,
        "height": 1
    },
    {
        "id": "0713a957b45ca12a",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 3,
        "width": 17,
        "height": 1
    },
    {
        "id": "6e5c763f1032e71b",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 4,
        "width": 17,
        "height": 1
    },
    {
        "id": "a2645e6186a6f8a9",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 6,
        "width": 17,
        "height": 1
    },
    {
        "id": "d4ae92ee0f62ed3b",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 7,
        "width": 17,
        "height": 1
    },
    {
        "id": "0d2be5212da5ed0b",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 8,
        "width": 17,
        "height": 1
    },
    {
        "id": "248c558fa11a4f41",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 10,
        "width": 17,
        "height": 1
    },
    {
        "id": "c920a8191f576fa1",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 11,
        "width": 17,
        "height": 1
    },
    {
        "id": "194cc71158e6b6fe",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 12,
        "width": 17,
        "height": 1
    },
    {
        "id": "6cb5e3f9f126b0da",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 14,
        "width": 17,
        "height": 1
    },
    {
        "id": "5ddb7ce974a52749",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 15,
        "width": 17,
        "height": 1
    },
    {
        "id": "3129481e24346b85",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 16,
        "width": 17,
        "height": 1
    },
    {
        "id": "8638b20ebce4e808",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 18,
        "width": 17,
        "height": 1
    },
    {
        "id": "8ac15ba20b6dbc83",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 19,
        "width": 17,
        "height": 1
    },
    {
        "id": "2b25232e397e9855",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 20,
        "width": 17,
        "height": 1
    },
    {
        "id": "420424e48f51e594",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 22,
        "width": 17,
        "height": 1
    },
    {
        "id": "d7f99d09fe56efae",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 23,
        "width": 17,
        "height": 1
    },
    {
        "id": "0210fe594cdf3f2f",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 24,
        "width": 17,
        "height": 1
    },
    {
        "id": "a27ba40621c52d53",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 26,
        "width": 17,
        "height": 1
    },
    {
        "id": "8fca9f1e5292dc83",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 27,
        "width": 17,
        "height": 1
    },
    {
        "id": "b90c511a406d40d8",
        "type": "ui_spacer",
        "z": "bb5d31eec9f0ed10",
        "name": "spacer",
        "group": "a85094f594aef5ee",
        "order": 28,
        "width": 17,
        "height": 1
    },
    {
        "id": "ae652619c3d0fa29",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "0646dca9e364e132",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "a545796972eb4aad",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 6,
        "width": 15,
        "height": 1
    },
    {
        "id": "ceef2fe7a28d52ba",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 7,
        "width": 15,
        "height": 1
    },
    {
        "id": "286d1fe867531ed0",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 9,
        "width": 15,
        "height": 1
    },
    {
        "id": "973af46e68e834da",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 10,
        "width": 13,
        "height": 1
    },
    {
        "id": "ea3c811e750b8aed",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 13,
        "width": 13,
        "height": 1
    },
    {
        "id": "e6565687ca6fee28",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 14,
        "width": 13,
        "height": 1
    },
    {
        "id": "77de4bf88fb6d7fe",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 15,
        "width": 13,
        "height": 1
    },
    {
        "id": "c18cf43e21ffcebc",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 16,
        "width": 13,
        "height": 1
    },
    {
        "id": "7b09f3832b4e8e0c",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 17,
        "width": 7,
        "height": 1
    },
    {
        "id": "283ad4c76701cb11",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 23,
        "width": 7,
        "height": 1
    },
    {
        "id": "175a4a01ced40495",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 24,
        "width": 7,
        "height": 1
    },
    {
        "id": "217659b053266768",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 25,
        "width": 7,
        "height": 1
    },
    {
        "id": "3501ac83f83e197f",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 30,
        "width": 7,
        "height": 1
    },
    {
        "id": "81ad666f02eabb42",
        "type": "ui_spacer",
        "z": "c000d1bf31301306",
        "name": "spacer",
        "group": "7f95e7feb4c8c00b",
        "order": 31,
        "width": 7,
        "height": 1
    },
    {
        "id": "737c1a3670349612",
        "type": "ping",
        "z": "10f77cdbbf014e29",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "2035705",
        "host": "10.0.175.250",
        "timer": "60",
        "inputs": 0,
        "x": 80,
        "y": 140,
        "wires": [
            [
                "1bbbf43d2512c1bb",
                "b1b9d97e84ee7094"
            ]
        ]
    },
    {
        "id": "b1b9d97e84ee7094",
        "type": "debug",
        "z": "10f77cdbbf014e29",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 220,
        "wires": []
    },
    {
        "id": "1bbbf43d2512c1bb",
        "type": "function",
        "z": "10f77cdbbf014e29",
        "name": "",
        "func": "if(msg.payload==false)\n{\n     msg.payload = {data:'Disconnected',reader:\"2035705\",color:\"0,255,0\"}\n}\nelse{\n    msg.payload = {data:'Connected',reader:\"2035705\",color:\"0,255,0\"}\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "e846016517b6e291",
                "eceb88bdbc5ad13a",
                "b1b9d97e84ee7094",
                "2a8f1e94f44d7ed5"
            ]
        ]
    },
    {
        "id": "e846016517b6e291",
        "type": "mqtt out",
        "z": "10f77cdbbf014e29",
        "name": "",
        "topic": "reader1/data_status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f381c70556b7225",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "eceb88bdbc5ad13a",
        "type": "ui_text",
        "z": "10f77cdbbf014e29",
        "group": "7f95e7feb4c8c00b",
        "order": 1,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Reader 1",
        "format": "{{msg.payload['data']}}",
        "layout": "row-center",
        "className": "",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "2a8f1e94f44d7ed5",
        "type": "MSSQL",
        "z": "10f77cdbbf014e29",
        "mssqlCN": "53ad69db5a4aaca7",
        "name": "Reader Alert DB",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "update reader set reader_status = @data where reader_id = @reader",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "params": [
            {
                "output": false,
                "name": "data",
                "type": "VarChar(50)",
                "valueType": "msg",
                "value": "payload['data']",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "reader",
                "type": "int",
                "valueType": "msg",
                "value": "payload['reader']",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 640,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d0e8c91fc74cc659",
        "type": "cpu",
        "z": "c000d1bf31301306",
        "name": "",
        "msgCore": false,
        "msgOverall": false,
        "msgArray": true,
        "msgTemp": true,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "1ba984d2412cb460",
                "d9977a954a454d7f",
                "8ae38b375d552b97",
                "3fcf1492a1933525",
                "36a9294ab5ee1e97",
                "5094b3fd3af8d8d9",
                "eff066eca8ed6238",
                "673e70b934e37107",
                "0696448d84611265",
                "aae0a6aba5cef7a2",
                "2d867f80dcd485b9",
                "0fc92a65f565fadf"
            ]
        ]
    },
    {
        "id": "ade43774b8ccb081",
        "type": "inject",
        "z": "c000d1bf31301306",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "d0e8c91fc74cc659",
                "88f697ba0056e8f2"
            ]
        ]
    },
    {
        "id": "1ba984d2412cb460",
        "type": "debug",
        "z": "c000d1bf31301306",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "5712d4a647a3f395",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 3,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "75",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "d9977a954a454d7f",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "CPU Temp",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 80,
        "wires": [
            [
                "5712d4a647a3f395",
                "9e5834dfa2f6069b"
            ]
        ]
    },
    {
        "id": "8ae38b375d552b97",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "model",
        "func": "msg.payload = msg.payload[7].model\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "c524cd87a9127895"
            ]
        ]
    },
    {
        "id": "c524cd87a9127895",
        "type": "ui_text",
        "z": "c000d1bf31301306",
        "group": "7f95e7feb4c8c00b",
        "order": 4,
        "width": 7,
        "height": 3,
        "name": "",
        "label": "Model Name",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "3fcf1492a1933525",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Total Core",
        "func": "var one = msg.payload.length\nmsg.payload = one\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            [
                "b925eefac708d26b"
            ]
        ]
    },
    {
        "id": "b925eefac708d26b",
        "type": "ui_text",
        "z": "c000d1bf31301306",
        "group": "7f95e7feb4c8c00b",
        "order": 8,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Total Core",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "88f697ba0056e8f2",
        "type": "DeviceStats",
        "z": "c000d1bf31301306",
        "name": "",
        "mem": true,
        "nw": true,
        "load": true,
        "hostname": true,
        "useString": false,
        "x": 390,
        "y": 620,
        "wires": [
            [
                "c658f17909914edf",
                "163e06e05bf33b63",
                "4a08919588fff119",
                "90afc68dbaaeba86"
            ]
        ]
    },
    {
        "id": "4a08919588fff119",
        "type": "debug",
        "z": "c000d1bf31301306",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 620,
        "wires": []
    },
    {
        "id": "c658f17909914edf",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Recv",
        "func": "msg.payload = ((msg.payload.nw.wlp3s0.rx)/8)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 720,
        "wires": [
            [
                "a17ab8be1c0812ba"
            ]
        ]
    },
    {
        "id": "a17ab8be1c0812ba",
        "type": "ui_chart",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 11,
        "width": 7,
        "height": 5,
        "label": "WLAN WIFI STATS",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "163e06e05bf33b63",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Trans",
        "func": "msg.payload = ((msg.payload.nw.wlp3s0.tx)/2048)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 680,
        "wires": [
            [
                "a17ab8be1c0812ba"
            ]
        ]
    },
    {
        "id": "9e5834dfa2f6069b",
        "type": "ui_chart",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 12,
        "width": 7,
        "height": 5,
        "label": "CPU Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "36a9294ab5ee1e97",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Core_1 Speed",
        "func": "msg.payload = msg.payload[0].speed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "600859d98b26cfd2"
            ]
        ]
    },
    {
        "id": "5094b3fd3af8d8d9",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Core_2 Speed",
        "func": "msg.payload = msg.payload[1].speed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "23640a188196eadd"
            ]
        ]
    },
    {
        "id": "eff066eca8ed6238",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Core_3 Speed",
        "func": "msg.payload = msg.payload[2].speed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 340,
        "wires": [
            [
                "f9e37b625ed9fa91"
            ]
        ]
    },
    {
        "id": "673e70b934e37107",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Core_4 Speed",
        "func": "msg.payload = msg.payload[3].speed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "227837d0e6db078d"
            ]
        ]
    },
    {
        "id": "0696448d84611265",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Core_5 Speed",
        "func": "msg.payload = msg.payload[4].speed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [
            [
                "837f478ffa9b15e6"
            ]
        ]
    },
    {
        "id": "aae0a6aba5cef7a2",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Core_6 Speed",
        "func": "msg.payload = msg.payload[5].speed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 460,
        "wires": [
            [
                "8111fe84f564ec22"
            ]
        ]
    },
    {
        "id": "2d867f80dcd485b9",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Core_7 Speed",
        "func": "msg.payload = msg.payload[6].speed\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 500,
        "wires": [
            [
                "27c895bc41ced8a6"
            ]
        ]
    },
    {
        "id": "0fc92a65f565fadf",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Core_8 Speed",
        "func": "msg.payload = msg.payload[7]['speed']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "09a2c495b9a1b32c"
            ]
        ]
    },
    {
        "id": "600859d98b26cfd2",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 19,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "23640a188196eadd",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 20,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "f9e37b625ed9fa91",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 21,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "227837d0e6db078d",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 22,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "837f478ffa9b15e6",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 26,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 5",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "8111fe84f564ec22",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 27,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 6",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "27c895bc41ced8a6",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 28,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 7",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "09a2c495b9a1b32c",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 29,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Core 8",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "90afc68dbaaeba86",
        "type": "function",
        "z": "c000d1bf31301306",
        "name": "Ram Used",
        "func": "var used = msg.payload.mem.used\nmsg.payload = ((used/1024)/1024)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 580,
        "wires": [
            [
                "b1d5ac05578e6306"
            ]
        ]
    },
    {
        "id": "b1d5ac05578e6306",
        "type": "ui_gauge",
        "z": "c000d1bf31301306",
        "name": "",
        "group": "7f95e7feb4c8c00b",
        "order": 18,
        "width": 8,
        "height": 6,
        "gtype": "wave",
        "title": "RAM Used of 31GB",
        "label": "GB",
        "format": "{{value}}",
        "min": 0,
        "max": "31.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 580,
        "wires": []
    },
    {
        "id": "ea3e7f69a1e0a8d8",
        "type": "function",
        "z": "bb5d31eec9f0ed10",
        "name": "Scan and Read Tag",
        "func": "let text = msg.payload.slice(15, 30);\nmsg.payload = {tag_uuid:text,reader_id:1357137,location:213013}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "3eb86f26466b41ea",
                "987f4608bcf04756",
                "daf9ce6b9c206ff8"
            ]
        ]
    },
    {
        "id": "fe09c4a98ae55f6b",
        "type": "tcp in",
        "z": "bb5d31eec9f0ed10",
        "name": "1357137",
        "server": "client",
        "host": "10.0.175.250",
        "port": "27011",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "1",
        "topic": "",
        "base64": false,
        "tls": "",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "ea3e7f69a1e0a8d8"
            ]
        ]
    },
    {
        "id": "3eb86f26466b41ea",
        "type": "MSSQL",
        "z": "bb5d31eec9f0ed10",
        "mssqlCN": "53ad69db5a4aaca7",
        "name": "Check Approval Status of Tag",
        "outField": "payload1",
        "returnType": "0",
        "throwErrors": 1,
        "query": "SELECT tags.tag_uuid, Activity.approve_status FROM tags INNER JOIN Activity ON Activity.tag_id= tags.tag_id WHERE tag_uuid=@tag_uuid",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "params": [
            {
                "output": false,
                "name": "tag_uuid",
                "type": "VarChar(255)",
                "valueType": "msg",
                "value": "payload['tag_uuid']",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "987f4608bcf04756"
            ]
        ]
    },
    {
        "id": "987f4608bcf04756",
        "type": "function",
        "z": "bb5d31eec9f0ed10",
        "name": "Combination of Scan and Approve Status",
        "func": "msg.payload = {tag_uuid:msg.payload['tag_uuid'],reader_id:msg.payload['reader_id'],approve_status:msg.payload1[0].approve_status}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 200,
        "wires": [
            [
                "c16752c2e953c7f5"
            ]
        ]
    },
    {
        "id": "c16752c2e953c7f5",
        "type": "function",
        "z": "bb5d31eec9f0ed10",
        "name": "Integrate mqtt to payload",
        "func": "if(msg.payload1[0].approve_status==\"False\")\n{\n    msg.payload2 = {mqtt_data:\"False\",data:msg.payload}\n}\nelse\n{\n    msg.payload2 = {mqtt_data:\"True\",data:msg.payload}\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "bf1b8aa7fd5edbd1",
                "fc41d2eb4b5feed8",
                "5f0b57d852201ea9"
            ]
        ]
    },
    {
        "id": "61aa127971034ae1",
        "type": "mqtt out",
        "z": "bb5d31eec9f0ed10",
        "name": "",
        "topic": "1357137/approval_status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f381c70556b7225",
        "x": 1630,
        "y": 200,
        "wires": []
    },
    {
        "id": "bf1b8aa7fd5edbd1",
        "type": "debug",
        "z": "bb5d31eec9f0ed10",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload2",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 240,
        "wires": []
    },
    {
        "id": "fc41d2eb4b5feed8",
        "type": "function",
        "z": "bb5d31eec9f0ed10",
        "name": "Extract payload",
        "func": "msg.payload = msg.payload2['mqtt_data']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 180,
        "wires": [
            [
                "61aa127971034ae1"
            ]
        ]
    },
    {
        "id": "8f9de8e6ed8f0d38",
        "type": "MSSQL",
        "z": "bb5d31eec9f0ed10",
        "mssqlCN": "53ad69db5a4aaca7",
        "name": "Insert into Logs",
        "outField": "payload4",
        "returnType": 0,
        "throwErrors": 1,
        "query": "INSERT INTO Logs(tag_uuid,reader_id,date,time,approve_status)values(@tag_uuid,@reader_id,@date,@time,@approve_status)",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "params": [
            {
                "output": false,
                "name": "tag_uuid",
                "type": "VarChar(255)",
                "valueType": "msg",
                "value": "payload3.tag_uuid",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "reader_id",
                "type": "int",
                "valueType": "msg",
                "value": "payload3.reader_id",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "date",
                "type": "VarChar(255)",
                "valueType": "msg",
                "value": "payload3.date",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "time",
                "type": "VarChar(255)",
                "valueType": "msg",
                "value": "payload3.time",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "approve_status",
                "type": "VarChar(255)",
                "valueType": "msg",
                "value": "payload3.approve_status",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 1660,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5f0b57d852201ea9",
        "type": "function",
        "z": "bb5d31eec9f0ed10",
        "name": "Insert Logs Compute",
        "func": "const options = { \n  month: '2-digit', \n  day: '2-digit',\n  year: 'numeric', \n};\nvar currentTime = new Date();\n\nvar currentOffset = currentTime.getTimezoneOffset();\n\nvar ISTOffset = 330;   // IST offset UTC +5:30 \n\nvar ISTTime = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);\n\n// ISTTime now represents the time in IST coordinates\n\nvar hoursIST = ISTTime.getHours()\nvar minutesIST = ISTTime.getMinutes()\n\nmsg.payload3 = {date:new Date().toLocaleDateString('en-US', options),time:hoursIST+\":\"+minutesIST,tag_uuid:msg.payload2.data.tag_uuid,reader_id:msg.payload2.data.reader_id,approve_status:msg.payload2.data.approve_status}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 300,
        "wires": [
            [
                "d09e47fa1ede0953",
                "8f9de8e6ed8f0d38",
                "07d6f5fecf2fe77c",
                "1b1079d40fd23db1"
            ]
        ]
    },
    {
        "id": "d09e47fa1ede0953",
        "type": "debug",
        "z": "bb5d31eec9f0ed10",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload3",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 340,
        "wires": []
    },
    {
        "id": "07d6f5fecf2fe77c",
        "type": "function",
        "z": "bb5d31eec9f0ed10",
        "name": "Movement Status and Approval Status Update",
        "func": "msg.payload4 = {movement_status:msg.payloadmove[0].movement_status,tag_uuid:msg.payload3.tag_uuid,reader_id:msg.payload3.reader_id,approve_status:msg.payload3.approve_status}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 480,
        "wires": [
            [
                "887d701c5fa0f291",
                "a31278ce32ea1119",
                "c5723e1896df9a1b"
            ]
        ]
    },
    {
        "id": "1b1079d40fd23db1",
        "type": "MSSQL",
        "z": "bb5d31eec9f0ed10",
        "mssqlCN": "53ad69db5a4aaca7",
        "name": "Reterive Movement Status",
        "outField": "payloadmove",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT Activity.movement_status FROM Activity INNER JOIN tags ON tags.tag_id=Activity.tag_id where tag_uuid=@tag_uuid",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "params": [
            {
                "output": false,
                "name": "tag_uuid",
                "type": "VarChar(255)",
                "valueType": "msg",
                "value": "payload3['tag_uuid']",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 1700,
        "y": 400,
        "wires": [
            [
                "07d6f5fecf2fe77c"
            ]
        ]
    },
    {
        "id": "887d701c5fa0f291",
        "type": "debug",
        "z": "bb5d31eec9f0ed10",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload4",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2100,
        "y": 420,
        "wires": []
    },
    {
        "id": "a31278ce32ea1119",
        "type": "function",
        "z": "bb5d31eec9f0ed10",
        "name": "Check Approval Status and Movement Status",
        "func": "msg.payload5 ={}\nif(msg.payload4.movement_status==\"True\" && msg.payload4.approve_status==\"True\")\n{\n    if(msg.payloaddestination==msg.payload['location'])\n    {\n    msg.payload5 = {movement_status:msg.payload4.movement_status,tag_uuid:msg.payload4.tag_uuid,reader_id:msg.payload4.reader_id,approve_status:msg.payload4.approve_status,updated:\"False\",destination:msg.payloaddestination,location:213013}\n    }\n    else{\n       // msg.payload5 = {movement_status:payload4.movement_status,tag_uuid:msg.payload4.tag_uuid,reader_id:msg.payload4.tag_uuid,approve_status:msg.payload4.approve_status,updated:\"True\",destination:msg.payloaddestination,location:213013}\n    }\n}\n\nelse{\n       //pass\n}\nreturn msg;\n\n\n\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2190,
        "y": 540,
        "wires": [
            [
                "8f0553a21b7f7532",
                "6a3b02dc637841c7"
            ]
        ]
    },
    {
        "id": "c5723e1896df9a1b",
        "type": "MSSQL",
        "z": "bb5d31eec9f0ed10",
        "mssqlCN": "53ad69db5a4aaca7",
        "name": "Reterive Destination ID",
        "outField": "payloaddestination",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT Activity.destination from Activity INNER JOIN tags ON tags.tag_id=Activity.tag_id WHERE tag_uuid=@tag_uuid",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "params": [
            {
                "output": false,
                "name": "tag_uuid",
                "type": "VarChar(255)",
                "valueType": "msg",
                "value": "payload4.tag_uuid",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 2210,
        "y": 480,
        "wires": [
            [
                "a31278ce32ea1119"
            ]
        ]
    },
    {
        "id": "8f0553a21b7f7532",
        "type": "MSSQL",
        "z": "bb5d31eec9f0ed10",
        "mssqlCN": "53ad69db5a4aaca7",
        "name": "Update Approve and Movement Table",
        "outField": "payload6",
        "returnType": 0,
        "throwErrors": 1,
        "query": "UPDATE Activity SET approve_status=@updated from Activity WHERE destination=@destination\n\nUPDATE Activity SET Movement_status=@updated from Activity WHERE destination=@destination",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "params": [
            {
                "output": false,
                "name": "updated",
                "type": "VarChar(255)",
                "valueType": "msg",
                "value": "payload5['updated']",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "destination",
                "type": "int",
                "valueType": "msg",
                "value": "payload5['location']",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 2550,
        "y": 500,
        "wires": [
            [
                "bc3ca82b6b3591e4"
            ]
        ]
    },
    {
        "id": "bc3ca82b6b3591e4",
        "type": "debug",
        "z": "bb5d31eec9f0ed10",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload6",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2780,
        "y": 580,
        "wires": []
    },
    {
        "id": "6a3b02dc637841c7",
        "type": "debug",
        "z": "bb5d31eec9f0ed10",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload5",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2500,
        "y": 440,
        "wires": []
    },
    {
        "id": "daf9ce6b9c206ff8",
        "type": "function",
        "z": "bb5d31eec9f0ed10",
        "name": "Joint payload pass",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "a31278ce32ea1119"
            ]
        ]
    },
    {
        "id": "cbd21fe7607b42db",
        "type": "mqtt out",
        "z": "2d15a322509163d1",
        "name": "",
        "topic": "1357137/approval_status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f381c70556b7225",
        "x": 330,
        "y": 280,
        "wires": []
    },
    {
        "id": "d1032a0efe584905",
        "type": "debug",
        "z": "2d15a322509163d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "a6c839f6abb01bf5",
        "type": "inject",
        "z": "2d15a322509163d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "True",
        "payloadType": "str",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "cbd21fe7607b42db",
                "d1032a0efe584905"
            ]
        ]
    },
    {
        "id": "cb5249593ca7d3f1",
        "type": "inject",
        "z": "2d15a322509163d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "False",
        "payloadType": "str",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "cbd21fe7607b42db"
            ]
        ]
    }
]
